/* Basic styles for the header and menu */
li {
    list-style-type: none !important;
}

ul {
    padding: 0 !important;
}

.header {
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #00014E;
    color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border-bottom: 2px solid white;
}

.mandala-button {
    color: white !important;
    background-color: #00014E !important;
}

.menu-icon {
    cursor: pointer;
}
.notification-icon {
    position: relative;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.notification-icon .bell-icon:hover {
    animation: ring 1s ease;
    transition: all 1s ease;
}

@keyframes ring {
    0% { transform: rotate(0); }
    25% { transform: rotate(20deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0); }
}

.notification-icon {
    position: relative;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.notification-icon .bell-icon:hover {
    animation: ring 1s ease;
    transition: all 1s ease;
}

@keyframes ring {
    0% { transform: rotate(0); }
    25% { transform: rotate(20deg); }
    75% { transform: rotate(-20deg); }
    100% { transform: rotate(0); }
}

.notification-count {
    position: absolute;
    top: -10px;
    right: -20px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
}

.notification-icon .dropdown {
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.notification-icon .dropdown.show {
    opacity: 1;
    visibility: visible;
}

.notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.notification-list li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.notification-list li a {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
}

.notification-list li a strong {
    display: block;
    color: #00014E;
    font-size: 16px;
    font-weight: bold;
}

.notification-list li a p {
    margin: 0.5rem 0 0 0;
    color: #000;
    font-size: 14px;
}

.notification-list li .delete-icon {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
    color: #000;
    transition: color 0.3s ease;
}

.notification-list li .delete-icon:hover {
    color: red;
}

.notification-time {
    font-size: 12px;
    color: #888;
    margin-top: 0.5rem;
}

.notification-container {
    background-color: #e4f0fd;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-container-unread {
    background-color: #f4f8fc;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-message {
    flex-grow: 1;
    margin-right: 10px;
}

.notification-message p {
    margin: 0;
    color: #000;
}

.notification-status {
    font-size: 10px;
    color: #888;
    text-align: right;
    margin-top: 10px;
    position: absolute;
    font-weight: bold;
    right: 35px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
}

.hamburger span {
    background-color: #fff;
    height: 2px;
    width: 100%;
    display: block;
    transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.logo-home {
    width: 150px;
}

/* Styles for the menu */
.menu {
    position: fixed;
    width: 250px;
    margin-top: 70px;
    left: -250px;
    z-index: 999;
    height: 100%;
    background-color: #00014E;
    color: white;
    transition: left 0.3s ease;
}

.menu.open {
    left: 0px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    padding: 10px 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.menu ul li a.active,
.menu ul li a:hover {
    background-color: rgba(180, 179, 179, 0.3);
}

.icon {
    margin-right: 10px;
    font-size: 20px;
}

.datepicker-icon {
    position: absolute;
    right: 10px; /* Ajuste conforme necessário */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Para garantir que o ícone não interfira na interação com o input */
  }

  .datepicker-container .react-datepicker-wrapper {
    width: 100%;
  }

  .datepicker-container {
    position: relative;
    display: inline-block;
    cursor: pointer !important;
  }
  

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
    align-items: center;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    width: 800px;
    margin-bottom: 20px;
}

/* Estilos gerais */
.welcome-section-model {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    width: 48% !important;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .welcome-section-model {
        width: 95% !important;
    }
}

.welcome-section-model {
    display: flex;
     flex-direction: column;
     justify-content: flex-start !important;
     align-items: flex-start;
     margin-bottom: 20px
 }

.welcome-section h1 {
    margin-bottom: 10px;
    font-size: 24px;
}

.welcome-section p {
    margin-bottom: 20px;
    font-size: 18px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.buttons button .icon {
    margin-right: 10px;
}

.project-button {
    background-color: #007bff;
    color: white;
}

.project-button:hover {
    background-color: #0056b3;
}

.new-project-button {
    background-color: #dadada !important;
    color: white;
    cursor: not-allowed !important;
}

.new-project-button:hover {
    background-color: #218838;
}

.project-info {
    position: relative;
    padding: 20px;
    box-shadow: 0 16px 8px rgba(0, 0, 0, 0.2) !important;
    min-width: 780px;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
}

.project-info-documents {
    position: relative;
    padding: 20px;
    box-shadow: 0 16px 8px rgba(0, 0, 0, 0.2) !important;
    min-width: 780px;
    background-color: white;
    overflow: hidden;
}

.project-info-model {
    position: relative;
    box-shadow: 0 16px 8px rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
    background-color: white;
    overflow: hidden;
}

.worker{
    position: relative;
    width: 50vw;
    height: 35vw;
    }

@media (max-width: 768px) {
    .worker{
        position: relative;
        width: 100vw;
        height: 100vw;
        }
    }


.project-info-new {
    position: relative;
    padding: 20px;
    min-width: 820px;
    cursor: pointer;
    overflow: hidden;
}

.project-info-mandala {
    position: relative;
    padding: 20px;
    box-shadow: 0 16px 8px rgba(0, 0, 0, 0.2) !important;
    min-width: 780px;
    background-color: white;
    overflow: hidden;
}

/* datepicker.css */
.react-datepicker {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }
  
  .react-datepicker__header {
    background-color: #007bff;
    color: #fff;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .react-datepicker__current-month {
    font-size: 16px;
    font-weight: bold;
  }
  
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: #000;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
  }
  
  .react-datepicker__day:hover {
    background-color: #0056b3;
    color: #4e4e4e;
    border-radius: 50%;
  }
  
  .react-datepicker__navigation--previous {
    border-right-color: #fff;
  }
  
  .react-datepicker__navigation--next {
    border-left-color: #fff;
  }
  
  .react-datepicker__day--outside-month {
    color: #ccc;
  }
  
  .react-datepicker__input-container input {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .react-datepicker__input-container input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  


.project-info-report {
    position: relative;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    background-color: white;
}

.project-info::before,
.project-info::after,
.project-info span::before,
.project-info span::after {
    content: '';
    position: absolute;
    background: #4b4b4b;
    transition: all 0.3s ease;
}

.project-info::before {
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
}

.project-info::after {
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
}

.project-info span::before {
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
}

.project-info span::after {
    bottom: 0;
    right: 0;
    width: 4px;
    height: 0;
}

.project-info:hover::before,
.project-info:hover::after {
    width: 100%;
}

.full-screen-iframe {
    width: 100%;
    height: 100vh; /* Define a altura do iframe para ocupar a altura total da viewport */
    border: none; /* Remove a borda padrão do iframe */
    
}

.project-info:hover span::before,
.project-info:hover span::after {
    height: 100%;
}

.project-info h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.project-info p {
    margin-bottom: 20px;
    font-size: 16px;
}

.schedule {
    list-style: none;
    padding: 0;
}

.schedule li {
    margin-bottom: 10px;
    font-size: 16px;
}

.schedule li i {
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    color: #353535;
}

.schedule li span {
    display: flex;
    font-size: 18px;
}

@media (max-width: 768px) {
    .welcome-section {
        width: 100%;
    }

    .project-info {
        width: 80% !important;
    }

    .project-info-new {
        min-width: 100% !important;
    }

    .project-info-mandala {
        width: 80% !important;
    }
}

@media (max-width: 576px) {
    .welcome-section {
        min-width: 90%;
        padding: 0 10px;
    }

    .project-info {
        position: relative;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        min-width: 90% !important;
        cursor: pointer;
        background-color: white;
        overflow: hidden;
    }

    .project-info-mandala {
        position: relative;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        min-width: 90% !important;
        background-color: white;
        overflow: hidden;
    }
}
