.password-input {
    position: relative;
}

.password-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-floating > input:focus ~ label {
    transform: translateY(-150%) scale(0.85);
    top: 0;
    left: 0;
    color: #495057;
}

.form-floating > input:not(:placeholder-shown) ~ label {
    transform: translateY(-150%) scale(0.85);
    top: 0;
    left: 0;
    color: #495057;
}

@media (max-width: 768px) { 
    .error-message {
        width: 100% !important; /* Corrigido para 100% */
    }
}

.error-message{
    width: 30rem !important;
}


