.dimension-input {
    width: 90px;
    height: 90px;
    background-color: rgba(245, 248, 255, 1);
    font-size: 3rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container-quantity {
    display: flex;
    background-color: rgba(245, 248, 255, 1) !important;
    justify-content: center;
    align-items: center;
    width: '100%';
    border-radius: 15px;
}

.invalidWeight{
background-color: rgba(212, 212, 212, 1) !important;
border-radius: 30px !important;
}

.validWeight{
    background-color: rgba(6, 106, 171, 1) !important;
    color: white !important;
    border-radius: 30px !important;
}

