.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    font-weight: 500 !important;
    padding: 0 40px !important;
}

.no-screenshot {
    position: relative;
}

.no-screenshot::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.modal-content-image {
    position: relative;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    max-width: 950px;
    font-weight: 500 !important;
    padding: 0 40px !important;
}

.modal-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
}

.modal-title {
    margin: 0;
    font-weight: bold !important;
    font-size: 1.5rem;
    text-align: center;
}

.close {
    font-size: 1.5rem;
    border: none;
    background: none;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    border: none !important;
}

.button-modal-home{
    color: rgba(6, 106, 171, 1) !important;
}

.button-modal{
    background-color: rgba(6, 106, 171, 1) !important;
    color: white !important;
    border-radius: 30px !important;
}
